<%# <h1>Books#new</h1>
<p>Find me in app/views/books/new.html.erb</p> %>
<%= link_to("<< Back to List", books_path, :class => 'back-link') %>

<div class="books new">
  <h2>Create Book</h2>

  <%= form_for(@book) do |f| %>

    <table summary="Book form fields">
      <tr>
        <th>Title</th>
        <td><%= f.text_field(:title) %></td>
      </tr>
      <tr>
        <th>Author</th>
        <td><%= f.text_field(:author) %></td>
      </tr>
      <tr>
        <th>Price</th>
        <td><%= f.text_field(:price) %></td>
      </tr>
      <tr>
        <th>Published Date</th>
        <td><%= f.date_field(:published_date) %></td>
      </tr>
      <tr>
        <th>Genre</th>
        <td><%= f.select :genre, [['Classic','classic'],['Fantasy','fantasy'],['Horror','horror'],['Mystery','mystery'],['Romance','romance'],['SciFi','scifi'],['Other','other']] %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Create Book") %>
    </div>

  <% end %>
</div>